<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Biometrics Timeline</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../assets/css/timeline.css">
<link rel="stylesheet" href="../assets/css/carceral.css">
<link rel="stylesheet" href="../assets/css/eugenics.css">
<link rel="stylesheet" href="../assets/css/tabs.css">
</head>
<body>
<a name="intro"></a>
<div class="intro-container" id="intro">
  <div class="intro-header"><br>
    <h2 class="intro-header__title">What are Biometrics Zombies?</h2><br>
    <p class="intro__content-desc">Why won’t dead  - and violent - ideas just die? Time and again we kill them, debunk them out of existence, but they keep coming back, deadlier than ever, and with alluring new names and claims. Our grandparents called it eugenics, but we call it biometrics. Our forefathers called it craniology and our aunties called it ___ and today the kids call it machine learning. In the 1960’s we thought criminality came from large Y chromosomes but in the 21st century we’re pretty sure it’s kept in the proportions of one’s face. We keep building gadgets to track people we consider risky or deviant, even as...<br><br>

[[emphasizing the consistent through-line across decades. A continuous genealogy of the same intellectual current, while they may seem disparate]]
<br><br>
These zombie ideas are deadly. They are at the core of our violent racist, capitalist, hetero-patriarchical society. So why won’t these dead ideas just die? Because funders, institutions, and companies keep resurrecting them for profit. There are careers to be made in reviving zombie ideas, dealing in death is a profitable trade. And people refuse to learn from the lessons of the past. We keep acting like tired recycled ideas are radical innovations, when really it’s just more of the same. 
</p> <br> <br>
  </div>
</div>
<!-- partial:index.partial.html -->
<a name="timeline"></a>
    <div class="bkgd">
    <h2 class="timeline-header__title"><CENTER>The Undead Horde of Biometrics</CENTER></h2>
        <br><br>
  <div class="tabs">
  <div role="tablist" aria-label="Timeline">
    <button role="tab"
            aria-selected="true"
            aria-controls="carceral-biometrics-tab"
            id="carceral-biometrics"
            >
      Carceral Biometrics
    </button>
    <button role="tab"
            aria-selected="false"
            aria-controls="eugenics-tab"
            id="eugenics"
            tabindex="-1">
      Eugenics
    </button>
    <button role="tab"
            aria-selected="false"
            aria-controls="all-tab"
            id="all"
            tabindex="-1">
      Full Timeline
    </button>
  </div>

  <div tabindex="1"
       role="tabpanel"
       id="all-tab"
       aria-labelledby="all">
      <div class="timeline-container" id="timeline-1">

  <div class="timeline">

    <!-- New Entry -->
    <div class="timeline-item" data-text="1775" >
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/blumenbach_1775.jpg" alt='A drawing of five slightly distinctly-shaped human skulls. Below each skull is a number and word: "1. Tangusae," "2. Caribaei," "3. Feminae Georgianae," "4. Otakeitae," and "5. Aethiopifsae." The drawing is in the style of old handcrafted scientific diagrams.'/>
        <h2 class="timeline__content-title">Five kinds of humans – Blumenbach</h2>
        <p class="timeline__content-desc">Blumenbach described five human varieties: Caucasians, Mongolians, Ethiopians, Americans, and Malays. Saini points out that "his arbitrary classification would have lasting consequences," as evidenced by the now-common use of "caucasian" to politely describe whiteness.</p>
      </div>
    </div>
    <!-- Physiognomy, criminality, phrenology -->
    <div class="timeline-item" data-text="1886">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/lombroso.png" alt="Two photographs from The Criminal Man of two different white boys, each captioned 'Boy Morally Insane.' One boy sits in a chair."/>
        <h2 class="timeline__content-title">The Criminal Man - Lombroso</h2>
        <p class="timeline__content-desc">A revival of interest in phrenology occurred during the early 20th century, partly because of studies of evolution, criminology and anthropology (as pursued by Cesare Lombroso). Despite being widely debunked, Lombroso's ideas about criminality - and that criminal propensity or behavior could be inferred through the analyses of bodily forms - form the basis of the field of criminology. This work is regularly cited by modern research into criminality prediction with biometrics.</p>
      </div>
    </div>
    <!-- Physiognomy -->
    <div class="timeline-item" data-text="1891">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/simms_1891.png"/>
        <h2 class="timeline__content-title">Physiognomy Illustrated - Simms</h2>
        <p class="timeline__content-desc">A classic example of physiognomic literature, it really is remarkable how little this work has changed over the years</p>
      </div>
    </div>
    <!-- Physiognomy -->
    <div class="timeline-item" data-text="1902">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/vaught_practical_character_reader_pp28-29.png"/>
        <h2 class="timeline__content-title">Vaught's Practical Character Reader</h2>
        <p class="timeline__content-desc">This notable entrant to the physiognomic ring features characteristics the author thought were "genuine" and "unreliable." That dichotomy bears a striking resemblance to language used in modern facial recognition papers: "genuine" and "impostor."</p>
      </div>
    </div>
    <!-- Eugenics -->
    <div class="timeline-item" data-text="1910">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/ero-1910.jpg"/>
        <h2 class="timeline__content-title">Eugenics Records Office established</h2>
        <p class="timeline__content-desc">Funded by John D. Rockefeller and the Carnegie Institution, the Eugenics Record Office was founded in 1910 on Long Island. The ERO analysed ranges of physical to tempermantal properites through questionnaires with "a commitment to improve race-betterment." In the US, ERO work (propoganda) led to forced sterilization of individuals with "undesirable" characteristics.</p>
      </div>
    </div>
    <!-- Criminality -->
    <div class="timeline-item" data-text="1989">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/switzgebel-1989.png" alt="US patent number 3,478,344, a BEHAVIORAL SUPERVISION SYSTEM WITH WRIST CARRIED TRANSCEIVER, published November 11, 1969 by R.K. Schwitzgebel. There are three diagrams: a system diagram showing how the transmitter is arranged, a man wearing the supervision belt, a schematic of the belt itself, and a circuit diagram for the transmitter."/>
        <h2 class="timeline__content-title">Behavioral Supervision System - Schwitzgebel</h2>
        <p class="timeline__content-desc">Schwitzgebel defined behavioral engineering as "the application of electromechanical technology to the understanding maintenance, and modification of human behavior."  He encouraged the use of portable electric shock devices to suppress smoking, nail biting, bad posture, homosexuality and drug addiction. This work extended the reach of the carceral state by drawing on the work of behavioral psychology to justify the dehumanizing treatement of people labeled as "delinquents" or "criminals."</p>
      </div>
    </div>
    <!-- Eugenics -->
    <div class="timeline-item" data-text="1992">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/bellcurve-1992.png" alt="The cover of book The Bell Curve, depicting a rainbow shaded bell curve."/>
        <h2 class="timeline__content-title">The Bell Curve - Herrnstein and Murray</h2>
        <p class="timeline__content-desc">Authors of The Bell Curve argued that intelligence had a lot to with some of society's most pressing social problems, such as poverty, crime, and low educational achievement. They claimed that evidence points "toward a genetic factor in conitive ethnic differences" because "blacks and white differ most on tests" measuring "general intelligence," which they characterized as a fixed, inherited index of mental capacity.</p>
      </div>
    </div>
    <!-- Criminality -->
    <div class="timeline-item" data-text="2016">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/wu-zhang-2016.png"/>
        <h2 class="timeline__content-title">Criminal Faces - Wu and Zhang</h2>
        <p class="timeline__content-desc">Two researchers claimed to have trained four classifiers to detect ~criminality~ "based solely on still face images, which is free of any biases of subjective judgments of human observers." Uh-huh. Yeah. Right.
        </p>
      </div>
    </div>
    <!-- Criminality, Physiognomy -->
    <div class="timeline-item" data-text="2016">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/faceception.png"/>
        <h2 class="timeline__content-title">Faceception</h2>
        <p class="timeline__content-desc">The pitch: "What if it was possible to know whether an anonymous individual is a potential terrorist, an aggressive person, or a potential criminal? Better yet, what if that information could be obtained and used in real-time, when it matters the most?"
        </p>
      </div>
    </div>
    <!-- Physiognomy -->
    <div class="timeline-item" data-text="2018">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/wang_kosinski_2018.png"/>
        <h2 class="timeline__content-title">Gay Faces - Wang and Kosinski</h2>
        <p class="timeline__content-desc">In 2018, two researchers created a deep neural network that they claimed could predict a person's sexuality (either gay or straight) based on their face. Turns out straight guys have goatees and straight women wear eyeliner.
        </p>
      </div>
    </div>
    <!-- Criminality, Physiognomy -->
    <div class="timeline-item" data-text="Sept. 2020">
      <div class="timeline__content"><img class="timeline__img" src="/assets/img/timeline/safra_etal_2020.png"/>
        <h2 class="timeline__content-title">Facial Trustworthiness - Safra et al</h2>
        <p class="timeline__content-desc">In September 2020, researchers released the now-infamous facial "trustworthiness" paper. It's garbage for all sorts of reasons.</p>
      </div>
    </div>
          </div> </div>
      </div>

  <div tabindex="0"
       role="tabpanel"
       id="carceral-biometrics-tab"
       aria-labelledby="carceral biometrics"
       hidden="">
            <div class="carceral-container" id="carceral-1">

      <div class="carceral">
          
    
   <!-- Physiognomy, criminality, phrenology -->
   <div class="carceral-item" data-text="1886">
     <div class="carceral__content"><img class="carceral__img" src="/assets/img/timeline/lombroso.png" alt="Two photographs from The Criminal Man of two different white boys, each captioned 'Boy Morally Insane.' One boy sits in a chair."/>
       <h2 class="carceral__content-title">The Criminal Man - Lombroso</h2>
       <p class="carceral__content-desc">A revival of interest in phrenology occurred during the early 20th century, partly because of studies of evolution, criminology and anthropology (as pursued by Cesare Lombroso). Despite being widely debunked, Lombroso's ideas about criminality - and that criminal propensity or behavior could be inferred through the analyses of bodily forms - form the basis of the field of criminology. This work is regularly cited by modern research into criminality prediction with biometrics.</p>
     </div>
   </div>

   <!-- Criminality -->
   <div class="carceral-item" data-text="1989">
     <div class="carceral__content"><img class="carceral__img" src="/assets/img/timeline/switzgebel-1989.png" alt="US patent number 3,478,344, a BEHAVIORAL SUPERVISION SYSTEM WITH WRIST CARRIED TRANSCEIVER, published November 11, 1969 by R.K. Schwitzgebel. There are three diagrams: a system diagram showing how the transmitter is arranged, a man wearing the supervision belt, a schematic of the belt itself, and a circuit diagram for the transmitter."/>
       <h2 class="carceral__content-title">Behavioral Supervision System - Schwitzgebel</h2>
       <p class="carceral__content-desc">Schwitzgebel defined behavioral engineering as "the application of electromechanical technology to the understanding maintenance, and modification of human behavior."  He encouraged the use of portable electric shock devices to suppress smoking, nail biting, bad posture, homosexuality and drug addiction. This work extended the reach of the carceral state by drawing on the work of behavioral psychology to justify the dehumanizing treatement of people labeled as "delinquents" or "criminals."</p>
     </div>
   </div>


    <!-- Criminality -->
    <div class="carceral-item" data-text="2016">
      <div class="carceral__content"><img class="carceral__img" src="/assets/img/timeline/wu-zhang-2016.png"/>
        <h2 class="carceral__content-title">Criminal Faces - Wu and Zhang</h2>
        <p class="carceral__content-desc">Two researchers claimed to have trained four classifiers to detect ~criminality~ "based solely on still face images, which is free of any biases of subjective judgments of human observers." Uh-huh. Yeah. Right.
        </p>
      </div>
    </div>
          
    
   <!-- Criminality, Physiognomy -->
   <div class="carceral-item" data-text="2016">
     <div class="carceral__content"><img class="carceral__img" src="/assets/img/timeline/faceception.png"/>
       <h2 class="carceral__content-title">Faceception</h2>
       <p class="carceral__content-desc">The pitch: "What if it was possible to know whether an anonymous individual is a potential terrorist, an aggressive person, or a potential criminal? Better yet, what if that information could be obtained and used in real-time, when it matters the most?"
       </p>
     </div>
   </div>

    <!-- Criminality, Physiognomy -->
    <div class="carceral-item" data-text="Sept. 2020">
      <div class="carceral__content"><img class="carceral__img" src="/assets/img/timeline/safra_etal_2020.png"/>
        <h2 class="carceral__content-title">Facial Trustworthiness - Safra et al</h2>
        <p class="carceral__content-desc">In September 2020, researchers released the now-infamous facial "trustworthiness" paper. It's garbage for all sorts of reasons.</p>
      </div>
    </div>
          
  </div> <!-- carceral class -->
      </div> <!-- carceral container tab -->
      </div> <!-- carceral tab -->

  <div tabindex="2"
       role="tabpanel"
       id="eugenics-tab"
       aria-labelledby="eugenics"
       hidden="">
  <p>
      Eugenics
    </p>
  </div> <!-- eugenics tab -->
  </div> <!-- tabs -->
  </div> <!-- background -->


<!-- Remove for now <div class="demo-footer"><a href="http://www.turkishnews.com/Ataturk/life.htm" target="_blank">Source/Kaynak</a></div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="../assets/js/timeline.js"></script>
  <script  src="../assets/js/carceral.js"></script>
  <script  src="../assets/js/eugenics.js"></script>
  <script  src="../assets/js/tabs.js"></script>

</body>
</html>

