@import url("https://fonts.googleapis.com/css?family=Helvetica|Reenie+Beanie");
@font-face{
    font-family: Frightmare;
    src: url(../frightmare-font/FrightmareDemo-nRn44.otf);
}

.carceral {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}

/* Timeline Entry Year */
.carceral__content-title {
          -webkit-text-stroke: 1px black;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: .4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: Frightmare;
  font-weight: normal;
  /* color: #8b0000; */
  color: #8AC45F; /* Gross greeen (which I love, but is pretty hard to read */
}

/* Timeline Entry Description */
.carceral__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Helvetica";
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 1px;
}
.carceral:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .carceral:before {
    left: 40px;
  }
}
.carceral-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}

/* Timeline Entry Title */
.carceral-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  font-size: 28px;
  font-family: Frightmare, sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.carceral-item:nth-child(even) {
  align-self: flex-end;
}
.carceral-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.carceral-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.carceral-item--active:before {
  top: 50%;
  transition: .3s all .2s;
  opacity: 1;
}
.carceral-item--active .carceral__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .carceral-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .carceral-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .carceral-item:last-child {
    padding-bottom: 40px;
  }
}
.carceral__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
}
.carceral-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.carceral-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.carceral-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

/* Timeline title */
.carceral-header__title {
  color: #8AC45F; /* Gross greeen (which I love, but is pretty hard to read */
  /*color: #8b0000; */
  font-size: 54px;
  font-family: Frightmare;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 0;
}
.carceral-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Reenie Beanie", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Helvetica;
}