@import url("https://fonts.googleapis.com/css?family=Helvetica|Reenie+Beanie");
@font-face{
    font-family: Frightmare;
    src: url(../frightmare-font/FrightmareDemo-nRn44.otf);
}
@font-face{
    font-family: Atkinson;
    src: url(../Atkinson-Hyperlegible-Font-Print-and-Web-2020-0514/Web_Fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff);

}

.intro {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 700px;
  position: relative;
      background: rgb(66, 18, 88);

    
}

.intro:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
}
/* Intro Description */
.intro__content-desc {
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Atkinson";
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 1px;
}

.intro-header {
  width: 80%;
  margin: auto;
  text-align: left;
  position: relative;
}

.intro-container {
  background: rgb(66, 18, 88);
}

/* Intro title */
.intro-header__title {
  text-align: center;
  color: #8AC45F; /* Gross greeen (which I love, but is pretty hard to read */
  /*color: #8b0000; */
  font-size: 54px;
  font-family: Frightmare;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 0;
}

.submission {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 700px;
  position: relative;
      background: rgb(66, 18, 88);

    
}

.submission:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
}
/* submission Description */
.submission__content-desc {
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Atkinson";
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 1px;
}

.submission-header {
  width: 80%;
  margin: auto;
  text-align: left;
  position: relative;
}

.submission-container {
  background: rgb(66, 18, 88);
}

/* submission title */
.submission-header__title {
  text-align: center;
  color: #8AC45F; /* Gross greeen (which I love, but is pretty hard to read */
  /*color: #8b0000; */
  font-size: 54px;
  font-family: Frightmare;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 0;
}

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}

.bkgd {
  background: rgb(66, 18, 88);
}


/* Timeline Entry Title */
.timeline__content-title {
  font-size: 40px;
  margin: -10px 0 0 0;
  transition: .4s;
    padding-top: 50px;
    padding-right: 10px;
  box-sizing: border-box;
  font-family: Frightmare;
  font-weight: normal;
  /* color: #8b0000; */
  color: #8AC45F; /* Gross greeen (which I love, but is pretty hard to read */
}

/* Timeline Entry Description */
.timeline__content-desc {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Atkinson";
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 1px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}

/* Timeline Entry Title */
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: #8AC45F;
  font-size: 60px;
  font-family: Frightmare, sans-serif;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: .3s all .2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

/* Timeline title */
.timeline-header__title {
  color: #8AC45F; /* Gross greeen (which I love, but is pretty hard to read */
  /*color: #8b0000; */
  font-size: 54px;
  font-family: Frightmare;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Reenie Beanie", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}

.submission a:link {
  color: #8AC45F;
  display: inline-block;
  font-family: Atkinson;
}
a:hover {
  color: #b6fc03;
}
